node_modules/**
.git/**
.github/**
.vscode/**

src/**
**/*.ts
**/*.map
tsconfig.json
webpack.config.js
eslint.config.mjs

test/**
out/**
coverage/**

.gitignore
.vscodeignore
*.vsix
package-lock.json
npm-debug.log*
yarn-error.log*
